{
  "env": "development",
  "mysqlHost": "localhost",
  "mysqlPort": "3306",
  "mysqlUser": "root",
  "mysqlPassword": "",
  "mysqlDatabase": "booking_db",
  "jwt_secret_key": "your-secret-key-here",
  "jwt_refresh_secret_key": "your-refresh-secret-key-here",
  "firebase_project_Id": "",
  "firebase_client_email": "",
  "firebase_private_key": "",
  "encryption_key": "your-encryption-key-here",
  "google_maps_api_key": "AIzaSyAzkJhTGilQyfp8kIVnE3PpMjlF1B2seE4"
}

